    .selected-item-image {
       width: 50%;
    height: 100%;
    }

    #item-box {
        height: 130px;
    }
// scanned-items.component.scss

.select-preorder-prompt {
  background-color: #f5f0ff;
  border: 1.5px dashed #6750a460;
  color: #6750a4;
}